@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,300italic);
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600);

body {
background: -moz-linear-gradient(top, rgba(237,108,105,0.8) 0%, rgba(12,170,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,108,105,0.8)), color-stop(100%,rgba(12,170,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(237,108,105,0.8) 0%,rgba(12,170,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(237,108,105,0.8) 0%,rgba(12,170,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(237,108,105,0.8) 0%,rgba(12,170,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(237,108,105,0.8) 0%,rgba(12,170,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ed6c69', endColorstr='#0caae2',GradientType=0 ); /* IE6-9 */
	height: 1200px;
	font-family: "Gloria Hallelujah", sans-serif;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
h1 {
	font-weight: 400;
}
.logo img {
	position: relative;
	width: 80%;
	top: 100px;
	margin: 0 auto;
	display: block;
}
.facebook-btn {
	position: relative;
	text-align: center;
	margin: 0 auto;
	clear: both;
	top: 300px;
}
.facebook-btn img {
	width: 60%;
}
input {
background-color: white;
text-align: center;
}
.about_me {
border: 1px solid #fff;
margin: 10px 15px;
padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
color: #333333;
}
.about_me p {
	font-family: "Signika", sans-serif;
}
.textbox {
	padding: 10px;
	font-size: 1.1em;
	width: 80%;
	color: #0099cc;
	border-radius: 5px;
	margin-top: 3px;
}
.local-btn {
	width: 33%;
	padding: 6px 10px;
	margin: 25px 15px 15px 15px;
	font-size: 1.2em;
	background-color: #0caae2;
	border-color: #0caae2;
	color: #fff;
	font-family: "Gloria Hallelujah", sans-serif;
	border-radius: 10px;
}
button img {
	width: 13%;
	margin-left: 10px;
	vertical-align: baseline;
	margin-bottom: -5px
}
form, .font2 {
	font-family: "Dosis", sans-serif;
	font-weight: 200;
}
.font2 {
	font-size: 1.2em;
}
.message {
	padding: 10px;
	font-size: 1.3em;;
	color: #0099cc;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	margin: 30px 15px 15px 15px;
	font-family: "Dosis", sans-serif;
	font-weight: 400;
}